body {
    margin: 0;
    /* 防止内容溢出 */
    overflow: hidden;
    /* 透明背景 */
    background-color: rgba(255, 255, 255, 0.8);
    cursor: default;

    -moz-user-select: none;
    -o-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .ant-form-item-label > label {
        font-size: 12px !important;
    }

    .ant-input {
        font-size: 12px !important;
    }

    .ant-select-selector {
        font-size: 12px !important;
    }

    .ant-select-item-option-content {
        font-size: 12px !important;
    }
}

.custom-tree {
    .ant-tree-iconEle {
        width: 16px !important;
        margin-right: 2px !important;
    }

    .ant-tree-checkbox {
        margin-right: 2px !important;
    }

    .ant-tree-title {
        font-size: 12px !important;
    }

    .ant-tree-iconEle > * {
        font-size: 14px;
    }
    .no-hover-bg {
        background-color: transparent !important;
    }
    .no-hover-bg:hover {
        background-color: transparent !important;
    }
}

/* 全局表格字体统一为 12px */
.ant-table {
    font-size: 12px !important;
}

/* 子表格也受影响 */
.ant-table-expanded-row .ant-table {
    font-size: 12px !important;
}

.custom-layout {
    background: white !important;
}
